/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 			   			Typography		  		  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 			   	Components design	  		  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@import url("components/container.css");
@import url("components/menu.css");
@import url("components/margin-and-padding.css");
@import url("components/button.css");
@import url("components/tabs.css");
@import url("components/cards.css");
@import url("components/dropdown.css");




body{
	margin:0!important;
	background-color:#f1f1f1;
	font-family: "Lato";
}

.text-uppercase{text-transform: uppercase;}

.float-right{float:right!important;}
.float-left{float:left!important;}
.text-center{text-align: center!important;}
.text-right{text-align:right!important;}
.text-left{text-align:left!important;}

.white{color:#fff!important;}

.h2{
	font-size:32px;
	font-weight: bold;
}

.h3{
	font-size:26px;
	font-weight: bold;
	margin:0;
}

.breaking-news{
	display: block;
	padding-top: 5px;
	padding-bottom: 10px;
}

.popular-searches a,
.popular-searches span{
	font-weight: bold;
	color: #fff;
	text-decoration: underline;
}

footer h3{
	color:#ffde00;
	font-weight: bold;
}
