/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 			   			Fonts					  		  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 			   	Components design	  		  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@import url("components/button.css");
@import url("components/cards.css");
@import url("components/carousel.css");
@import url("components/container.css");
@import url("components/dropdown.css");
@import url("components/margin-and-padding.css");
@import url("components/menu.css");
@import url("components/tabs.css");
@import url("components/typography.css");
@import url("components/responsive.css");

body{
	margin:0!important;
	background-color:#f1f1f1;
	font-family: "Lato";
	font-size: 16px;
}