.btn{
	border:0;
	border-radius: 2px;
	text-decoration: none;
}

.btn-sm{padding: 7px 10px!important;}
.btn-md{padding: 10px 30px!important;}
.btn-lg{
	font-size: 14px;
	padding:13px 45px!important;
}
.btn-xl{padding:13px 90px!important;}

.btn-round{border-radius: 20px;}

.btn-blue{
	background-color: #4382ce;
	color: #fff;
	font-weight: bold;
}

.btn-blue:hover{
	text-decoration: none;
	background-color: #6091cd;
	color: #fff;
}

.btn-white{
	background-color: #fff;
	color: #4382ce;
	font-weight: bold;
}

.btn-white:hover{
	text-decoration: none;
	background-color: #eeeeee;
	color: #4382ce;
}

.btn-white-search{
	background-color: #fff;
	color: #1060c0;
	font-size: 18px;
	font-weight: bold;
	height:100%;
}

.btn-white-search:hover{
	text-decoration: none;
	background-color: #e0e0e0;
	color: #1060c0;
}

.btn-yellow{
	background-color: #ffde00;
	color: #5b4701;
	font-size: 18px;
	font-weight: bold;
	height:100%;
	padding:10px 20px;
}

.btn-yellow:hover{
	text-decoration: none;
	background-color: #edce00;
	color: #5b4701;
}