.md-card{height: 350px;}
.lg-card{height: 400px;}
.xl-card{height: 730px;}

.card{
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  border: 0;
}

.card-link,
.card-link:hover{
	text-decoration: none!important;
}

.caption-blue{
	background-color: #4382ce;
}

.birds-card{background-image: url(../../images/news/birds.jpg);}
.comunidad-valenciana-card{background-image: url(../../images/destinations/comunidad-valenciana.jpg);}
.sevilla-card{background-image: url(../../images/destinations/sevilla.jpg);}
.huesca-card{background-image: url(../../images/destinations/huesca.jpg);}
.andalucia-card{background-image: url(../../images/destinations/andalucia.jpg);}
.mallorca-card{background-image: url(../../images/destinations/mallorca.jpg);}
.madrid-card{background-image: url(../../images/destinations/madrid.jpg);}
.pais-vasco-card{background-image: url(../../images/destinations/paisvasco.jpg);}

.thumbnail{
	border:0;
	border-radius: 0;
	padding:0;
	margin: 0;
}

.thumbnail img{min-width:100%;}
.thumbnail .caption{padding:0}

.card-image{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.card-body{
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.full-image{width: 100%;}

.caption-white{
  background-color: #fff;
  color: #212121;
  padding: 20px 10px 10px 10px!important;
}