.md-card{height: 350px;}
.lg-card{height: 730px;}

.card{
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  border: 0;
}

.card-link,
.card-link:hover{
	text-decoration: none!important;
}

.caption-blue{
	background-color: #4382ce;
}

.birds-card{background-image: url(../../images/news/birds.jpg);}
.comunidad-valenciana-card{background-image: url(../../images/destinations/comunidad-valenciana.jpg);}
.sevilla-card{background-image: url(../../images/destinations/sevilla.jpg);}
.huesca-card{background-image: url(../../images/destinations/huesca.jpg);}
.andalucia-card{background-image: url(../../images/destinations/andalucia.jpg);}
.mallorca-card{background-image: url(../../images/destinations/mallorca.jpg);}
.madrid-card{background-image: url(../../images/destinations/madrid.jpg);}
.pais-vasco-card{background-image: url(../../images/destinations/paisvasco.jpg);}

.beach-card{
	background-image: url(../../images/news/beach.jpg) no-repeat center fixed;
	background-size: 100% auto;
  width: 100%;
}

.va-container{
	display: table;
  position: relative;
  border:0;
}

.va-container-h{width: 100%;
  border:0;}
.va-container-v{height: 100%;
  border:0;}

.va-row{display: table-row;
  border:0;}

.va-top,
.va-middle,
.va-bottom{
	display: table-cell;
}

.va-top{vertical-align: top;}
.va-middle{vertical-align: middle;}
.va-bottom{vertical-align: bottom;}

.va-header{display:table-header-group;}
.va-footer{display:table-footer-group;
  border:0;}

.thumbnail{
	border:0;
	border-radius: 0;
	padding:0;
	margin: 0;
}

.thumbnail img{min-width:100%;}
.thumbnail .caption{padding:0}