.owl-carousel img{
	display: block;
	width: 100%;
	height: 400px;
}

.content-carousel{
	position: absolute;
	z-index: 50;
	color: #fff;
	bottom: 100px;
	width: 80%;
	padding-left: 150px;
	padding-right: 150px;
}

.content-carousel-property{
	position: absolute;
	z-index: 50;
	color: #fff;
	top:170px;
	right: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.owl-theme .owl-nav {
	margin-top: 10px;
	text-align: center;
	-webkit-tap-highlight-color: transparent; 
}

.owl-theme .owl-nav [class*='owl-'] {
	position:absolute;
	z-index: 15;
	bottom:10px;
	width:40px;
	height:40px;
	color: #fff;
  font-size:20px;
  background: transparent;
  display: inline-block;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-controls .owl-nav .owl-next {
	left: auto;
	right: 13%;
}

.owl-carousel-full .owl-controls .owl-nav .owl-next {
	left: auto !important;
	right: 0 !important;
}

.owl-theme .owl-controls .owl-nav .owl-prev {
	right: auto;
	left: 13%;
}

.owl-carousel-full .owl-controls .owl-nav .owl-prev {
	right: auto !important;
	left: 0 !important;
}

.owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 10px; 
}

.owl-theme .owl-dots {
	text-align: center;
	-webkit-tap-highlight-color: transparent;
	position:absolute;
	z-index: 10;
	bottom:10px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
	*display: inline; 
}

.owl-theme .owl-dots .owl-dot span {
	display:block;
	width: 10px;
	height: 10px;
	margin: 15px 10px;
	background: transparent;
	border:1px solid #fff;
	-webkit-backface-visibility: visible;
	-webkit-transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease;
	-ms-transition: opacity 200ms ease;
	-o-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #fff;
}

.carousel-bar{
	position: absolute;
	left: 15%;
	z-index: 10;
	color: #fff;
	width: 70%;
	border: 1px solid #fff;
	bottom: 35px;
	text-align: center;
}

.carousel-control{height: 20px;}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
	top:90px;
}