.modal-content,
.form-control{
	border-radius: 2px;
}

.modal-header{
	border-bottom: none;
	padding-bottom: 0;
}

.signup-or-divider{
  background: none;
  height: 34px;
  position: relative;
  text-align: center;
}

.signup-or-divider-text{
  background-color: #fff;
  display: inline-block;
  padding: 8px;
}

.signup-or-divider hr {
  margin: -16px auto 10px;
  width: 100%;
  border: 0;
  border-top: 1px solid #dce0e0;
}

.icon-container{
	position: absolute;
  font-size: 24px;
  top: 18px;
  left: 35px;
}

.icon-google-container{
	position: absolute;
  top: 70px;
  left: 35px;
}