@media (min-width: 768px) {
  .sm-container {
    width: 590px;
  }

	.content-section{
		padding: 10px;
	}

	.title-section{
	  padding-left: 10px;
	  padding-right: 10px;
	  border-bottom: 1px solid #bdbdbd;
	  padding-bottom: 10px;
	}

	.title-section h2{
	  font-size: 24px;
	  font-weight: bold;
	  color:#4382ce;
	  margin:0;
	  display: inline-block;
	}
}

@media (min-width: 992px) {
  .sm-container {
    width: 760px;
  }

	.content-section{
		padding: 25px;
	}

	.title-section{
	  padding-left: 25px;
	  padding-right: 25px;
	  border-bottom: 1px solid #bdbdbd;
	  padding-bottom: 10px;
	}

	.title-section h2{
	  font-size: 24px;
	  font-weight: bold;
	  color:#4382ce;
	  margin:0;
	  display: inline-block;
	}
}

@media (min-width: 1200px) {
	.sm-container {
    width: 920px;
  }

	.content-section{
		padding: 50px;
	}

	.title-section{
	  padding-left: 50px;
	  padding-right: 50px;
	  border-bottom: 1px solid #bdbdbd;
	  padding-bottom: 10px;
	}

	.title-section h2{
	  font-size: 24px;
	  font-weight: bold;
	  color:#4382ce;
	  margin:0;
	  display: inline-block;
	}
}


@media screen and (min-width: 768px){
	.small-menu-responsive,
	.main-menu-responsive,
	.menu-responsive-header {display: none;}
}


@media screen and (max-width: 767px){
	.tabs-searchbar .fa-2x{
		font-size:16px;
	}

	.row{
		margin-left: 0;
		margin-right: 0;
	}

	.tabs-searchbar > li > a,
	.tabs-searchbar > li > a:focus{
    padding: 15px 0;
  }

	.btn-lg{padding: 10px!important}
	
	.small-menu,
	.main-menu{display: none;}

	.small-menu-responsive,
	.main-menu-responsive{display: block;}

	.small-menu-responsive{
		position: absolute;
		z-index: 5;
		top:0;
		height: 45px;
		width: 100%;
		background-color: #333333;
		color: #fff;
	}

	.header-icon{
		top:10px;
		left:10px;
		position: absolute;
		display: block;
		float: left;
		width: 45px;
		height: 45px;
		cursor: pointer;
		background-color:transparent;
	}

	.logo-responsive{
		margin-top:5px;
		width:35px;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
	}

	.main-menu-responsive{
		position: absolute;
		z-index: 5;
		top:45px;
		padding:5px 0;
		width: 100%;
		background-color: #fff;
		border-bottom: 1px solid #bdbdbd;
		color: #333333;
	}

	.main-menu-responsive .fa{
		font-size: 32px;
	}

	.search-bar{
		height: auto;
	}

	.search-label{
		width: 100%;
		height: 40px;
	}

	.div-btn-white{
		width: 100%;
		padding: 0;
		margin-top: 10px;
	}

	.div-btn-yellow{
		width: 100%;
		margin-top: 10px;
	}

	.search-container .btn-white-search,
	.search-container .btn-yellow{
		height: 40px;
		font-size: 14px;
	}

	.sm-container{margin-top: 10vh;}

	.with-sidebar .menu-responsive-header{
		-ms-transform: translateX(0px); /* IE 9 */
    -webkit-transform: translateX(0px); /* Chrome, Safari, Opera */
    transform: translateX(0px);
	}

	.with-sidebar .site-hidden{
		position:fixed;
		z-index:5;
		bottom:0;
		top:0;
		left:0;
		right:0;
		background-color: rgba(0,0,0,0.6);
		overflow: hidden;
	}

	.menu-responsive-header{
		position:fixed;
		z-index:10;
		left:0;
		top:0;
		bottom:0;
		width:100%;
		height: 100vh;
		background-color: #333333;
		-ms-transform: translateY(-100vh); /* IE 9 */
    -webkit-transform: translateY(-100vh); /* Chrome, Safari, Opera */
    transform: translateY(-100vh);
    -webkit-transition: 0.35s ease-in;
    transition: 0.35s ease-in;
		list-style:none;
	}

	.close-icon{
		display: block;
		position: absolute;
		top: 10px;
		left: 10px;
		width: 45px;
		height: 45px;
		cursor: pointer;
	}

	.list-menu-responsive{
		text-align: center;
		padding: 0;
	}

	.list-menu-responsive a{
		display: block;
		margin-left: -15px;
		font-size: 18px;
		height:40px;
		line-height: 40px;
		margin-right: auto;
		margin-left: auto;
	}

	.menu-responsive-header li a{color:#f5f5f5!important;}

	.main-menu-responsive a{
		text-decoration: none;
		color: #333333;
	}
}
