.nav-tabs{border-bottom: 0;}

.tabs-searchbar > li {
  width: 14.285714285714285714285714285714%;
  *width: 14.285714285714285714285714285714%;
}

.tabs-searchbar > li > a,
.tabs-searchbar > li > a:focus {
  text-align: center;
  border-radius: 2px;
  background-color: rgba(0,0,0,0.2);
  color: #fff;
  border:0;
  font-weight: bold;
  padding:30px 0;
  margin-right: 1px;
}

.tabs-searchbar .fa{
	color:#ffde00;
	padding-bottom: 5px;
}

.tabs-searchbar > li > a:hover {
	background-color: rgba(0,0,0,0.4);
  border:0;
}

.tabs-searchbar > li.active > a,
.tabs-searchbar > li.active > a:hover,
.tabs-searchbar > li.active > a:focus {
  background-color: rgba(0,0,0,0.6);
  color:#fff;
  border:0;
  font-weight: bold;
}

.tabs-searchbar-last-child{margin-right: 0!important;}


.title-section .nav-tabs{
  float:right;
  display: inline-block;
}

.title-section .nav-tabs > li > a {
  font-weight: bold;
  color:#707070;
  border: 0;
}

.title-section .nav-tabs > li > a:hover {
  color:#6091cd;
  border:0;
  background-color: transparent;
}

.title-section .nav-tabs > li.active > a,
.title-section .nav-tabs > li.active > a:hover,
.title-section .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: transparent;
  border: 0;
  color:#4382ce;
}